@import '../../global/variables.scss';

.header {
    background-color: $background-color;
    color: $primary-color;
    padding: 5px;
    min-height: 7vh;
    box-shadow: 0 4px 8px rgba(0,0,0,.05), 0 0 4px rgba(0,0,0,.15);
  
    .sidebarHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
     
  
      .siteTitle {
        margin-left: 14px;
        font-size: 1.2rem;
        color: $primary-color;
        min-width: 200px;
      }
    }

    .userIcon{
        cursor: pointer;
        width: 40px;
        border-radius: 50%;
    }
  
    .toolbar {
      display: flex;
      align-items: center;
    }
  
    .icon {
      color: $primary-color;
      font-size: 24px;
      margin-right: 10px;
      margin-left: 10px;
      cursor: pointer;
    }

    .menuIcon {
        cursor: pointer;
        font-size: 24px;
        margin-left: 5px;
      }
  }
